/* 添加样式 */
.player-container {
    height: 80vh;
    width: 100%;
    background: url('https://laoshuishushu.oss-cn-beijing.aliyuncs.com/public/hunsha_small.jpg') no-repeat;
    background-size: 100% auto;
    background-size: cover;       /* 关键属性：覆盖整个容器 */
    background-position:top;   /* 可选：居中显示图片重点区域 */
  }



  
  .file-inputs {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
  }
  
  .player-controls {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .lyrics-container {
    height: 300px;
    overflow-y: auto;
    border: none;
    padding: 15px;
    border-radius: 8px;
  }
  
  .lyric-line {
    padding: 8px;
    transition: all 0.3s ease;
    opacity: 0.6;
  }
  
  .lyric-line.active {
    font-weight: bold;
    transform: scale(1.05);
    opacity: 1;
    color: rgba(255,255,255,.8);
    font-weight: 400;
  }
  
  .time-display {
    font-family: monospace;
  }
  
  button {
    padding: 12px 64px;
    background: rgba(125, 141, 153,1);
    border: none !important;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
  }

  .stop {
    width: 16px;
    height: 16px;
    background: url("/public/stop.svg") no-repeat;
    background-size: 100% 100%;
    display: inline-block;
  }
  .start {
    width: 16px;
    height: 16px;
    background: url("/public/start.svg") no-repeat;
    background-size: 100% 100%;
    display: inline-block;
  }

  .lyrics-container {
    height: 220px;
    overflow-y: auto;
    scroll-behavior: smooth; /* 新增 */
    position: relative; /* 确保定位基准 */
  }
  
  .lyric-line {
    min-height: 30px;
    /* 新增以下属性 */
    transform: translateZ(0); /* 启用GPU加速 */
    will-change: transform; 
  }

  .lyrics-container {
    overflow: auto;
    /* 隐藏 Firefox 滚动条 */
    scrollbar-width: none;
    /* 隐藏 IE/Edge 滚动条 */
    -ms-overflow-style: none;
  }
  
  /* 隐藏 Chrome/Safari/Opera 滚动条 */
  .lyrics-container::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }

  .play-btn-box {
    width: 100%;
    height:20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
  }




 .title {
  margin-top: 8vh;
 }